<nav class="flex flex-row justify-between flex-wrap items-center px-8 bg-primary m-0 text-white py-4 shadow-lg shadow-secondary desktop:px-[12vw]">
  <%= link_to "Sign up", new_user_registration_path, class: 'border-0' %>
  <%= link_to "Log in", new_user_session_path, class: 'border-0' %>
</nav>