<nav>
<button>Sign Up</button>
<button>Log In</button>
<button>Recipes</button>
<button>Food</button>
<button>Inventory</button>
<%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }  %>
</nav>