<%= render "shared/header" %>
<div><%= link_to "<button>Add Food</button>".html_safe, new_food_path, class: 'add-food'%></div>
<div>
<% @food.each do |f| %>
  <span><%= f.name%></span>
  <span><%= f.measurement_unit %></span>
<%end%>
</div>