/* .food-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20vw;
}

.food-index-container section {
  display: flex;
  justify-content: center;
} */
